.admin-layout {
    display: flex;
    height: 100vh;
    background: var(--main-bg);
    color: var(--tc);
}

.admin-layout-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--main-bg);
}

.admin-layout-content {
    flex: 1;
    padding: 24px;
    background: var(--second-bg);
}